<!-- MOBILE -->
<div class="font-open md:hidden">

  @for (membro of membrosMobile(); track membro.nome; let i = $index) {

    <div
      class="bg-white h-72 w-[85%] shadow-[6px_6px_10px_rgba(0,0,0,0.2)] rounded-md mb-4"
      [class.ml-auto]="i === 1"
      [class.mr-auto]="i === 0"
    >

      <img
        class="w-full h-50 rounded-t-md p-2 object-scale-down "
        [src]="membro.foto"
        [alt]="'Foto de ' + membro.nome"
      >

      <p class="text-violet-500 ml-2 mb-2">
        {{ membro.nome }}
      </p>

      <p class="ml-2 mb-4">
        {{ membro.cargo }}
      </p>

    </div>

  }

  <div class="flex justify-center items-center gap-4 mt-6 mb-6 font-open">

    <button
      type="button"
      (click)="paginaAnterior()"
      [disabled]="paginaAtual() === 0"
      class="px-4 py-2 border rounded disabled:opacity-50"
      aria-label="Página anterior"
    >
      ←
    </button>

    <span>
      {{ paginaAtual() + 1 }} / {{ totalPaginas() }}
    </span>

    <button
      type="button"
      (click)="proximaPagina()"
      [disabled]="paginaAtual() >= totalPaginas() - 1"
      class="px-4 py-2 border rounded disabled:opacity-50"
      aria-label="Próxima página"
    >
      →
    </button>

  </div>

</div>

<!-- TABLET E DESKTOP -->
<div class="font-open hidden md:grid md:grid-cols-2 lg:grid-cols-4 gap-4 m-30">

  @for (membro of membrosFiltrados(); track membro.nome) {

    <div
      class="bg-white h-72 w-full shadow-[6px_6px_10px_rgba(0,0,0,0.2)] rounded-md"
    >

      <img
        class="w-full h-50 rounded-t-md p-2 object-scale-down"
        [src]="membro.foto"
        [alt]="'Foto de ' + membro.nome"
      >

      <p class="text-violet-500 ml-2 mb-2">
        {{ membro.nome }}
      </p>

      <p class="ml-2 mb-4">
        {{ membro.cargo }}
      </p>

    </div>

  }

</div>